<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/todomvc_app.css") %>">
    <!-- Custom styles -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <title>teberl |> 2019</title>
</head>
<body>
    <main role="main" class="container <%= Enum.at(@conn.path_info, 0) %>">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>