<section class="main">
    <span>
    <input class="toggle-all"
        type="checkbox"
        readOnly
    />
    <label></label>
    <ul class="todo-list">
        <%= for todo <- @todos do %>
        <%= render("todo.html", %{todo: todo, edit: @edit}) %>
        <% end %>
    </ul>
    </span>
    <%= render("footer.html", assigns) %>
</section>